.chatlist__container{
  overflow: scroll;
  height: 80vh;
  max-height: 500px;
  min-height: 300px;
  margin:10px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  background-color: white;
  padding:40px 20px 40px 20px;
}

.chatlist__item{
  margin-bottom:40px;
  display: block;
  padding:15px 0 4px 0;
  text-decoration: none;
  width:100%;
  border-bottom: 1px solid #e6e6e6;

}
