.chat__container {
  margin: 0 auto;
  height: 100%;
  width:70%;
  padding: 20px;
}

.chat__header {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  max-width: 600px;
  font-size: 2em;
  color: black;
  margin-bottom: 12px;
}

.chat__body {
  background-color: white;
  border-radius: 5px;
  max-width: 600px;
  margin: 0 auto;
  height: 50vh;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  color: black;
}

.chat__content {
  padding: 0 20px 0 20px;
  height: 100%;
  overflow-y: scroll;
}

.chat__message {
  width: fit-content;
  padding: 11px 22px 22px 22px;
  border-radius: 5px;
  margin: 30px 0 15px 0;
  border:1px solid #e6e6e6;
  max-width:200px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

.chat__message__content{
  height: 100%;
}

.chat__message__username {
  color: rgba(30,136,229,0.5)
}

.chat__message--self {
  margin: auto 0 auto auto;

  .chat__message__username {
    color: rgba(0,134,125,0.5);
  }
}


.chat__new-message {
  background-color: white;
  border-radius: 5px;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  margin-top: 18px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  color: black;
  max-width: 600px;
}

.chat__new-message__form {
  width: 100%;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
}

.chat__new-message__input {
  width: calc(100% - 40px);
  margin: 0 auto;
  margin-top: 20px;
  outline: none;
  font-size: 1em;
  font-weight: 100;
  min-height: 4em;
  padding: 10px 0 0 10px;
  border: 1px solid #eaeaea;
  resize: none;
  text-decoration: none;
}

.chat__new-message-submit {
  height: 100%;
  outline: none;
  padding: 10px;
  width: 6em;
  font-weight: 100;
  color: white;
  background-color: #378ae2;
  border-radius: 5px;
  font-size: 1em;
  border: none;
  margin: 20px auto 20px auto;
  transition: all 0.15s ease-in-out;

  &:hover{
    background-color: #3795ed;
  }
}
