.chat__header {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  font-size: 1.1em;
  color:black;
  max-width: 600px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
}
.chat__header__name{
  margin:5px;
  font-weight:600;
}
.chat__header__switch{
  margin:5px
}
