.dashboard__container{
  width:100%;
  color:black;
}

.dashboard__content{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.dashboard__header{
  text-align: center;
  font-size: 2em;
  color:black;
}

.dashboard__sidebar{
  grid-column-start: 3;
  grid-column-end: 3;
}

.dashboard__info{
  grid-column-start: 1;
  grid-column-end: 3;
}

