.info__container{
  text-align: center;
  margin: 0 auto;
}

.info__create{

  width:10em;
  font-size: 1.2em;
  padding:1em;
  border-style: solid;
  -webkit-background-clip: text;
  background-clip: text;
  outline: none;
  background-color: transparent;
  color:linear-gradient(-45deg, #743ad5 0%, #d53a9d 100%);;
  margin-top: 10px;
  border-image: linear-gradient(-45deg, #743ad5 0%, #d53a9d 100%);
  border-image-slice: 1;
  border-width: 4px;
  background: -webkit-linear-gradient(#743ad5, #d53a9d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
